a {
    text-decoration: none;
    color: black;
    opacity: 0.9;
}

a:hover {
    text-decoration: none;
    color: black;
}
/* mid */
body {
    /* background-image: url(../img/smokee.jpg); */
    background-color: #887f7c;

}

.container {
    opacity: 0.9;
}
/* top */
nav {
    opacity: 0.9; 
    background: #837F7C -webkit-gradient(linear, left top, left bottom, from(#000000), to(#837F7C)) no-repeat;
    opacity: 0.9;
}
/* bottom */
.jumbotron {
    height: auto;
    width: auto;
    margin: 0;
    background: #837F7C -webkit-gradient(linear, left top, left bottom, from(#000000), to(#837F7C)) no-repeat;
    /* opacity: 0.3; */
}
